@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .drop-shadow {
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
  }
  .container-shadow {
    box-shadow:
      rgba(17, 17, 26, 0.05) 0px 4px 16px,
      rgba(17, 17, 26, 0.05) 0px 8px 32px;
  }

  .container-darker-shadow {
    box-shadow:
      rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.1) 0px 8px 32px;
  }

  input[type='radio'] {
    @apply h-5 w-5 cursor-pointer appearance-none rounded-full border border-grey bg-white;
  }

  input[type='radio']::before {
    @apply absolute left-1/2 top-1/2 h-[calc(1.25rem-6px)] w-[calc(1.25rem-6px)] -translate-x-1/2 -translate-y-1/2 content-normal rounded-full bg-black opacity-0 transition duration-300 ease-out content-[''];
  }
  input[type='radio']:checked::before {
    @apply opacity-100;
  }

  input[type='range'] {
    @apply flex-grow cursor-pointer  bg-transparent accent-black focus:outline-none;
  }

  button,
  a {
    @apply focus:outline-none focus-visible:border-neutral-600/60 focus-visible:ring-4 focus-visible:ring-neutral-600;
  }

  .small-btn {
    @apply rounded-full border border-white bg-white/60 p-1 hover:bg-white;
  }

  .main-header {
    font-size: clamp(2.5rem, 7.5vw, 8rem);
    line-height: 100%;
  }
}

@layer components {
  .loader {
    color: black;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation:
      mltShdSpin 1.7s infinite ease,
      round 1.7s infinite ease;
  }

  @keyframes mltShdSpin {
    0% {
      box-shadow:
        0 -0.83em 0 -0.4em,
        0 -0.83em 0 -0.42em,
        0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em,
        0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow:
        0 -0.83em 0 -0.4em,
        0 -0.83em 0 -0.42em,
        0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em,
        0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow:
        0 -0.83em 0 -0.4em,
        -0.087em -0.825em 0 -0.42em,
        -0.173em -0.812em 0 -0.44em,
        -0.256em -0.789em 0 -0.46em,
        -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow:
        0 -0.83em 0 -0.4em,
        -0.338em -0.758em 0 -0.42em,
        -0.555em -0.617em 0 -0.44em,
        -0.671em -0.488em 0 -0.46em,
        -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow:
        0 -0.83em 0 -0.4em,
        -0.377em -0.74em 0 -0.42em,
        -0.645em -0.522em 0 -0.44em,
        -0.775em -0.297em 0 -0.46em,
        -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow:
        0 -0.83em 0 -0.4em,
        0 -0.83em 0 -0.42em,
        0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em,
        0 -0.83em 0 -0.477em;
    }
  }

  @keyframes round {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .dot-active {
    animation: grow 0.2s ease-in;
  }

  @keyframes grow {
    0% {
      width: 8px;
    }
    100% {
      width: 24px;
    }
  }

  .calender-grid {
    grid-template-columns: repeat(7, 54px);
  }

  .custom-slider .rc-slider-rail {
    @apply h-2 rounded-full border-2 bg-white;
  }

  .custom-slider .rc-slider-track {
    @apply h-2 rounded-full bg-neutral-800;
  }

  .custom-slider .rc-slider-handle {
    @apply h-5 w-5 border-2 border-white bg-neutral-800 opacity-100;
  }

  .custom-slider
    .rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
    @apply border-none border-transparent shadow-none;
  }
}

.map-container {
  width: 100%;
  height: 100%;
}

.show-items {
  animation: show-items 1.5s;
}

@keyframes show-items {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}
